/.DS_Store
/.ipynb_checkpoints
/12_debug_6_loginimas_su_obj.py
/12_debug_dalyba.py
/12_debug_dalyba_2.py
/12_debug_dalyba_3.py
/12_debug_dalyba_4._y_faila_5_pranesimu_formatas.py
/12_debug_dalyba_logeris
/12_debug_udz_1.log
/12_debug_uzd_1.py
/13_grafine_sasaja.ipynb
/13_grafine_sasaja.py
/13_gui_mygtukas.py
/13_gui_scroll_bar.py
/13_gui_status_bar.py
/13_gui_uzd_3.py
/13_gui_uzd_5.py
/13_gui_uzd_darbuotojai.py
/2_paskaita_sarasai_ciklai.ipynb
/2_paskaita_uzd_3_variantas_III.py
/__pycache__
/aritemtika.log
/aritmetika.log
/aritmetika.py
/asmenys.log
/biudzetas
/daina.py
/darbuotojai.py
/importai.py
/ivestas_tekstas.txt
/kates.py
/keliamieji.py
/ketvirta_uzd.py
/kitas_modulis
/labas.py
/logs
/main.py
/matematika.py
/media
/modules
/modulis.py
/mokymas
/nauja_daina.txt
/naujas.txt
/naujas_2
/naujas_uzd
/paieska.py
/paieska2.py
/paskaita01.ipynb
/paskaita02_uzduotys.ipynb
/paskaita_11_paveldejimas.ipynb
/paskaita_11_uzd_2.py
/paskaita_11_uzd_3.py
/paskaita_2_uzd
/paskaita_3
/paskaita_4
/paskaita_5_faila.ipynb
/paskaita_5_uzd_2.py
/paskaita_5_uzd_2_kitas variantas
/paskaita_5_uzd_4_kitas_var
/paskaita_7_objektai.ipynb
/paskaita_7_uzd.2_3_4.ipynb
/paskaita_7_uzd_1.ipynb
/paskaita_7_uzd_4_1_variantas.ipynb
/paskaita_7_uzd_5_2variantas.py
/paskaita_7_uzd_5_biudzetas.py
/paskaita_7uzd_3 ir 4_1_variantas.ipynb
/penkta_uzd.py
/pirma_uzduotis_12_20.py
/primitive.py
/pusryciai.py
/random.py
/standart_importai.py
/test_aritmetika.py
/test_kates.py
/test_keliamieji.py
/test_unit_test_1_uzd.py
/tkinter_cutom_pvz
/unit_test_1_uzd.py
/uzd_2022_12_29.ipynb
/venv